{% extends "wargame/base.html" %}
{% block body %}
    <div id="logout-link-div">
        <a href="{% url 'home' %}">Exit</a>
    </div>     
    </div>
    <div id="game-div">
        <p>Player 2</p>
        <div id="player-2-deck-div" class="deck-div"></div>
        <div id="player-2-play-div" class="play-div"></div>
        <div id="status-div"></div>
        <div id="player-1-play-div" class="play-div"></div>
        <div id="player-1-deck-div" class="deck-div"></div>
        <p>Player 1</p>
    </div>
    <script>
        let p1Name = "{{ player1 }}"
        let p2Name = "{{ player2 }}"
        window.onload=getGame(p1Name, p2Name)
    </script>
{% endblock %}